
<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <h1>
                    Ciclo de Vida
                </h1>
            </div>

            <div class="col-xs-2">
                <div class="aw-page-header-controls">
                    <a class="btn btn-primary" ui-sref="animalNovo" >
                        <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo Animal</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <form ng-submit="salvar()" class="form-vertical  js-form-loading">

        <div class="form-group">
            <label for="input-produto-nome">Nome</label>
            <input id="input-produto-nome" ng-model="form.nome" type="text" class="form-control">
        </div>

        <div class="row">

        </div>

        <div class="form-group">
            <button class="btn  btn-primary" type="submit">
                Pesquisar
            </button>
        </div>

    </form>

    <div class="table-responsive">
        <table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
            <thead class="aw-table-header-solid">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Codigo da raça</th>
                <th >Fazenda</th>
                <th >Lote</th>
                <th >Peso</th>
                <th>Fase da vida</th>
                <th>Localização</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="animal in animais">
                <td>{{animal.idAnimal}}</td>
                <td>{{animal.nomeAnimal}}</td>
                <td>{{animal.codigoRaca}}</td>
                <td>{{animal.nomeFazenda}}</td>
                <td>{{animal.codigoLote}}</td>
                <td>{{animal.peso}}</td>
                <td>
                    <div class="col-sm-14">

                        <select class="form-control" id="enumFaseVida"
                                name="enumFaseVida" ng-required="true" data-ng-model="form.enumFaseVida">
                            <option></option>
                            <option value="Bezerro">1</option>
                            <option value="Novilho">2</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="col-sm-14">

                        <select class="form-control" id="enumLocalizacao"
                                name="enumLocalizacao" ng-required="true" data-ng-model="form.enumLocalizacao">
                            <option></option>
                            <option value="Bezerreira">1</option>
                            <option value="Coletivo">2</option>
                        </select>
                    </div>


                </td>

                <td class="table-pesq-produto-col-acoes">
                    <div class="btn-group">

                        <a class="btn  btn-default btn-xs" href="#!/animal/{{animal.idAnimal}}">
                            <i ui-sref="animalNovo" class="fa  fa-pencil"></i>
                        </a>

                        <a class="btn  btn-default btn-xs" ng-click="exibirModal(animal,$index)">
                            <i class="fa  fa-trash"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12  col-md-8  aw-text-xs-center  aw-text-md-left">
            <nav>
                <ul class="pagination  pagination-sm">
                    <li><a href="" ng-click="avancar()"><i class="fa  fa-angle-double-left"></i></a></li>
                    <li  ng-repeat="pagina in paginas" ><a href="" ng-click="paginar(pagina.numero)">{{pagina.numero}}</a></li>
                    <li><a href="" ng-click="retroceder()"><i class="fa  fa-angle-double-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="form-group">
        <button class="btn  btn-primary" type="submit">Salvar</button>
        <a href="#" class="btn  btn-default">Cancelar</a>

    </div>
</div>

<div class="aw-search-modal  js-search-modal">
    <form action="#" class="aw-search-modal__form">
        <input class="aw-search-modal__input  js-search-modal-input" type="text" placeholder="O que você está procurando?"/>
        <div class="aw-search-modal__input-icon">
            <i class="glyphicon  glyphicon-search  js-search-modal-go"></i>
        </div>
    </form>

    <div class="aw-search-modal__controls">
        <i class="glyphicon glyphicon-remove  js-search-modal-close"></i>
    </div>
</div>

<div data-ng-include="'app/modal/modal-excluir.html'"></div>

<script src="assets/javascripts/vendors.min.js"></script>

